<% if (theme.beaudar && theme.beaudar.enable) { %>
<link rel="stylesheet" href="https://beaudar.lipk.org/client/beaudar.css">
<div id="beaudar" class="comments"></div>
<script src="https://beaudar.lipk.org/client/beaudar.js" repo="<%= theme.beaudar.repo %>" branch="<%= theme.beaudar.branch %>"></script>
<% } %>
