<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('partial/head') %>
<body>
  <%- partial('partial/header') %>
  <main class="container">
    <%- body %>
  </main>
  <%- partial('partial/footer') %>
</body>
</html>
