<footer class="site-footer">
  <div class="container">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <%- config.author || config.title %></p>
    <p>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> & <a href="https://github.com/MichaelSatoshi1983/hexo-theme-zen" target="_blank">Zen Theme</a></p>
  </div>
</footer>
<script src="/js/theme-toggle.js"></script>
